@import "../../assets/styles/variables";

:host {
  width: 100%;

  .pizza {
    &__slice {
      width: 30%;
      padding: 30% 40px 0 0;
      margin: 0 auto;
      background: url('../../assets/images/pizza-slice.svg') no-repeat;
      background-size: contain;
    }

    &__description {
      margin: 13px auto;
      font-family: $font-rise-n-shine;
      font-size: 13px;
      transition: color $transition-duration;

      &:hover {
        cursor: pointer;
        color: $color-red;
      }
    }
  }

  .flex-row__wrapper {
    width: 100%;
    display: flex;
  }
}
