@import "../assets/styles/variables";

.pizza {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  &__title {
    width: 100%;
    font-family: $font-gist-light;
    font-size: 50px;
  }

  &__slice {
    width: 30%;
    padding: 30% 40px 0 0;
    margin: 0 auto;
    background: url('../assets/images/pizza-slice.svg') no-repeat;
    background-size: contain;
  }

  &__description {
    width: 100%;
    font-family: $font-rise-n-shine;
    font-size: 13px;
    transition: color $transition-duration;

    &:hover {
      cursor: pointer;
      color: $color-red;
    }
  }
}
