@import "../../../../assets/styles/variables";

:host {
  width: 100%;

  .available-pieces {
    &__wrapper {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
    }

    &__title {
      margin: 16px auto;
      font-family: $font-rise-n-shine;
    }

    &__box {
      width: 100%;
      display: flex;
    }

    &__item {
      font-size: 100px;
      margin: 15px 5px;

      &:first-child {
        margin-left: auto;
      }

      &:last-child {
        margin-right: auto;
      }
    }
  }
}
