@font-face {
  font-family: 'GistLight';
  src: url('./assets/fonts/GistLight/GistLight.eot');
  src: url('./assets/fonts/GistLight/GistLight.eot') format('embedded-opentype'),
  url('./assets/fonts/GistLight/GistLight.woff2') format('woff2'),
  url('./assets/fonts/GistLight/GistLight.woff') format('woff'),
  url('./assets/fonts/GistLight/GistLight.ttf') format('truetype'),
  url('./assets/fonts/GistLight/GistLight.svg#GistLight') format('svg');
}

@font-face {
  font-family: 'Rise_Shine';
  src: url('./assets/fonts/RiseShine/Rise_Shine.eot');
  src: url('./assets/fonts/RiseShine/Rise_Shine.eot') format('embedded-opentype'),
  url('./assets/fonts/RiseShine/Rise_Shine.woff2') format('woff2'),
  url('./assets/fonts/RiseShine/Rise_Shine.woff') format('woff'),
  url('./assets/fonts/RiseShine/Rise_Shine.ttf') format('truetype'),
  url('./assets/fonts/RiseShine/Rise_Shine.svg#Rise_Shine') format('svg');
}
